<div class="d-flex">
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon flex-column vh-100 position-fixed">
    <div class="container-fluid d-flex flex-column justify-content-between h-100">
      <!-- Menu Items Wrapper -->
      <ul class="navbar-nav flex-column">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "Home", root_path , class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Search", results_path , class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "History", history_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Hot topics", results_hot_topics_path , class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete }, class: "nav-link" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>

      <!-- Avatar Wrapper -->
      <% if user_signed_in? %>
        <div class="avatar-wrapper d-flex align-items-center">
          <a href="#" class="avatar hidden">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar rounded-circle", alt: "User Avatar" %>
          </a>
          <%= link_to "My Profile", edit_user_registration_path , class: "profile-text ms-3 hidden" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
