<div class="sidebar-container" data-controller="sidebar">
  <div class="sidebar-header">
    <%= link_to root_path, class: "menu-button text-decoration-none",
        data: { sidebar_target: "menuItem", action: "click->sidebar#setActive", path: root_path } do %>
      <div class="media-asset">
        <img
          loading="lazy"
          src="https://cdn.builder.io/api/v1/image/assets/e7215202aad14fd5bc906c5d98e426f9/a76fe4ca5a40e5bc45399d5c73164dfee73f5f129c8be58e79d46436bad83e03?apiKey=e7215202aad14fd5bc906c5d98e426f9&"
          alt="Logo"
          class="img"
        />
      </div>
      <div class="text-label title">Verifai</div>
    <% end %>
    <div class="menu-group">
      <div class="menu">
        <div class="menu-item">
          <%= link_to results_path, class: "menu-button text-decoration-none",
              data: { sidebar_target: "menuItem", action: "click->sidebar#setActive", path: results_path } do %>
            <%= image_tag("telescope.svg", alt: "Fact check icon") %>
            <div class="text-label">Fact check</div>
          <% end %>
        </div>
        <div class="menu-item">
          <%= link_to history_path, class: "menu-button text-decoration-none",
              data: { sidebar_target: "menuItem", action: "click->sidebar#setActive", path: history_path } do %>
            <%= image_tag("history.svg", alt: "History icon") %>
            <div class="text-label">History</div>
          <% end %>
        </div>
        <div class="menu-item">
          <%= link_to results_hot_topics_path, class: "menu-button text-decoration-none",
              data: { sidebar_target: "menuItem", action: "click->sidebar#setActive", path: results_hot_topics_path } do %>
            <%= image_tag("hot_topics.svg", alt: "Hot topics icon") %>
            <div class="text-label">Hot topics</div>
          <% end %>
        </div>
        <div class="menu-item">
          <%= link_to insights_path, class: "menu-button text-decoration-none",
              data: { sidebar_target: "menuItem", action: "click->sidebar#setActive", path: insights_path } do %>
            <%= image_tag("insights.svg", alt: "Insights icon") %>
            <div class="text-label">Insights</div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <% if user_signed_in? %>
      <%= link_to edit_user_registration_path, class: "avatar-wrapper d-flex align-items-center text-decoration-none",
          data: { sidebar_target: "menuItem", action: "click->sidebar#setActive", path: edit_user_registration_path } do %>
        <div class="avatar hidden position-relative">
          <% if current_user.profile_picture.attached? %>
            <%= cl_image_tag current_user.profile_picture.key, class: "avatar rounded-circle", alt: "User Avatar" %>
          <% else %>
            <img src="https://cdn.vectorstock.com/i/500p/08/19/gray-photo-placeholder-icon-design-ui-vector-35850819.jpg"
                alt="Placeholder Avatar"
                style="width: 40px; height: 40px; border-radius: 50%; object-fit: cover;">
          <% end %>
          <!-- Badge system -->
          <div class="position-absolute bottom-0 end-0">
            <% if current_user.checker_score >= 30 %>
              <i class="fa-solid fa-award fa-lg fa-beat shadow" style="color: gold;"></i>
            <% elsif current_user.checker_score >= 15 %>
              <i class="fa-solid fa-award fa-lg fa-beat shadow" style="color: silver;"></i>
            <% elsif current_user.checker_score >= 5 %>
              <i class="fa-solid fa-award fa-lg fa-beat shadow" style="color: #cd8031;"></i>
            <% end %>
          </div>
          <!-- Badge system end -->
        </div>
        <div class="profile-text text-decoration-none ms-3 hidden">
          <%= current_user.username.capitalize %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
