<div class="sidebar-container">
  <div class="sidebar-header">
    <%= link_to root_path, class: "menu-button text-decoration-none",
        data: { sidebar_target: "menuItem", action: "click->sidebar#setActive", path: root_path } do %>
      <div class="media-asset">
        <%= image_tag("search_check.svg", alt: "Verifai icon", class: "img") %>
      </div>
      <div class="text-label title">Verifai</div>
    <% end %>
    <div class="menu-group">
      <div class="menu">
        <div class="menu-item">
          <%= link_to results_path, class: "menu-button text-decoration-none",
              data: { sidebar_target: "menuItem", action: "click->sidebar#setActive", path: results_path } do %>
            <%= image_tag("telescope.svg", alt: "Fact check icon") %>
            <div class="text-label">Fact check</div>
          <% end %>
        </div>
        <div class="menu-item">
          <%= link_to history_path, class: "menu-button text-decoration-none",
              data: { sidebar_target: "menuItem", action: "click->sidebar#setActive", path: history_path } do %>
            <%= image_tag("history.svg", alt: "History icon") %>
            <div class="text-label">History</div>
          <% end %>
        </div>
        <div class="menu-item">
          <%= link_to results_hot_topics_path, class: "menu-button text-decoration-none",
              data: { sidebar_target: "menuItem", action: "click->sidebar#setActive", path: results_hot_topics_path } do %>
            <%= image_tag("hot_topics.svg", alt: "Hot topics icon") %>
            <div class="text-label">Hot topics</div>
          <% end %>
        </div>
        <div class="menu-item">
          <%= link_to insights_path, class: "menu-button text-decoration-none",
              data: { sidebar_target: "menuItem", action: "click->sidebar#setActive", path: insights_path } do %>
            <%= image_tag("insights.svg", alt: "Insights icon") %>
            <div class="text-label">Insights</div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <% if user_signed_in? %>
      <%= link_to edit_user_registration_path, class: "avatar-wrapper d-flex align-items-center text-decoration-none ps-2",
          data: { sidebar_target: "menuItem", action: "click->sidebar#setActive", path: edit_user_registration_path } do %>
        <div class="avatar hidden position-relative">
          <% if current_user.profile_picture.attached? %>
            <%= cl_image_tag current_user.profile_picture.key, class: "avatar rounded-circle", alt: "User Avatar" %>
          <% else %>
            <img src="https://github.com/shadcn.png"
                alt="Placeholder Avatar"
                style="width: 32px; height: 32px; border-radius: 8px; object-fit: cover; margin-top:3px">
          <% end %>
          <!-- Badge system -->
          <div class="position-absolute bottom-0 end-0">
            <% badge_color = case current_user.checker_score
              when 0..99 then "#d1d5db"  # Light Gray
              when 100..249 then "#cd7f32"  # Bronze
              when 250..499 then "#b87333"  # Dark Bronze
              when 500..999 then "#b87333"  # Copper
              when 1_000..1_999 then "#c0c0c0"  # Silver
              when 2_000..3_999 then "#a8a8a8"  # Dark Silver
              when 4_000..6_999 then "#ffd700"  # Gold
              when 7_000..9_999 then "#caa400"  # Dark Gold
              when 10_000..14_999 then "#e5e4e2"  # Platinum
              else "#00ffff"  # Diamond
              end %>


            <i class="fa-solid fa-award fa-lg fa-beat shadow-lg" style="color: <%= badge_color %>;"></i>
          </div>
          <!-- Badge system end -->
        </div>
        <div class="profile-text text-decoration-none ms-1 hidden">
          <p class="username"><%= current_user.username.capitalize %></p>
          <p class="text-muted"><%= current_user.email %></p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
