<% title ||= "" %>
<% result ||= nil %>
<div id="top-bar" class="d-flex align-items-center border-bottom justify-content-between">
  <div class="d-flex align-items-center">
    <div><%= image_tag(image, width: "32px", class:"p-2") %></div>
    <div class="vr my-3 opacity-25"></div>
    <div class="p-2">
      <p class="m-0"><%= pageTitle %></p>
    </div>
  </div>

  <div>
    <%= title %>
  </div>
  <div>
    <% if result %>
      <%= link_to result_path(result), class: "delete",
                  data: { turbo_confirm: "Are you sure you want to delete this result?", turbo_method: :delete } do %>
        <%= image_tag("delete.svg", width: "40px", class:"p-1") %>
      <% end %>
      <%= image_tag("share.svg", width: "40px", class:"p-1 share", data: { controller: "clipboard", action: "click->clipboard#copy", clipboard_url_value: request.original_url }) %>
    <% end %>
  </div>

</div>
