<div class="card-saved">
  <h1><%= result.title %></h1>
  <div class="row-card">
    <h2>Fact score</h2>
    <p class="tag"><%= result.fact_score %></p>
  </div>
  <% if result.fact_score_confidence.nil? %>
    <p>Not enough data to determine confidence</p>
  <% else %>
    <p><%= result.fact_score_confidence * 100 %>% confidence</p>
  <% end %>

  <div class="row-card">
    <h2>Political bias</h2>
    <p class="tag"><%= result.political_bias  %></p>
  </div>
  <% if result.fact_score_confidence.nil? %>
    <p>Not enough data to determine confidence</p>
  <% else %>
    <p><%= result.political_bias %> with <%= result.political_bias_confidence * 100 %>% confidence</p>
  <% end %>

</div>
