<div class="card-saved">

  <!-- Check if title is nil -->
  <% if result.title.nil? %>
    <h1>No title available</h1>
  <% else %>
    <h1 class="truncate"><%= result.title %></h1>
  <% end %>

  <!-- Query -->
  <p class="truncate-two-lines"><strong>Query: </strong><%= result.user_input %></p>
  <br>

  <!-- Check if summary is nil -->
  <% if controller_name == 'results' && action_name == 'show' %>
    <% unless result.summary.nil? %>
      <p><strong>Summary: </strong><%= result.summary %></p>
      <br>
    <% end %>

  <% end %>
  <!-- Check if media is nil -->
  <% unless controller_name == 'results' && action_name == 'history' %>
    <% if result.medias.nil? %>
      <p>No media available</p>
    <% else %>
      <% result.medias.each do |item| %>
        <p><strong>Media: </strong><%= item.url %></p>
      <% end %>
    <% end %>
  <% end %>

  <div class="row-card">
    <h2>Credibility</h2>

    <!-- Check if fact_score is nil -->
    <% if result.fact_score.nil? %>
      <p class="badge">n/a</p>
    <% else %>
      <% fact_icon = case result.fact_score.downcase.strip  %>
        <% when "very low" then "low.svg" %>
        <% when "low" then "low.svg" %>
        <% when "medium" then "medium.svg" %>
        <% when "high" then "high.svg" %>
        <% when "very high" then "high.svg" %>
        <% else "medium.svg" %>
      <% end %>
      <p class="badge fact-text">
        <%= image_tag(fact_icon, width: "16px", alt: result.fact_score) %>
        <%= result.fact_score %>
      </p>
    <% end %>
  </div>


  <div class="row-card">
    <h2>Political bias</h2>

    <!-- Check if fact_score  is nil -->
    <% if result.political_bias.nil? %>
      <p class="badge">n/a</p>
    <% else %>
      <% bias_class = case result.political_bias.downcase.strip %>
      <% when "far-left" %>
        <% bias_class = "far-left" %>
      <% when "left" %>
        <% bias_class = "left" %>
      <% when "center" %>
        <% bias_class = "center" %>
      <% when "right" %>
        <% bias_class = "right" %>
      <% when "far-right" %>
        <% bias_class = "far-right" %>
      <% end %>
      <p class="badge <%= bias_class %>"><%= result.political_bias  %></p>
    <% end %>
  </div>
  <p class="fst-italic date"><%= time_ago_in_words(result.created_at) %> ago</p>
</div>
