<div id="<%= dom_id(result) %>">

  <!-- User input -->
  <div class="d-flex justify-content-end">
    <div class="user-input p-3">
      <div class="d-flex align-items-center">
        <%= image_tag("user.svg", width: "24px") %>
        <h3>Input</h3>
      </div>
      <p><%= result.user_input %></p>
    </div>
  </div>

  <!-- Fact check title  -->

  <div class="d-flex align-items-center mt-4 fact-check-title">
    <%= image_tag("fact_check.svg", width: "24px") %>
    <h3>Verifai's fact check</h3>
  </div>

  <!-- Political bias and fact score  -->

  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="p-4 card bg-transparent shadow-sm rounded-3">
        <h2>Political bias</h2>
        <p class="muted">The specific ideology or party this news favors</p>
        <div class="text-center position-relative d-flex justify-content-center">
          <h2 class="political-bias position-absolute"><strong><%= result.political_bias %></strong></h2>
          <%= image_tag("#{result.political_bias.downcase.gsub("-","_")}.svg", width: "60%", class:"p-2") %>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="p-4 card bg-transparent shadow-sm rounded-3 h-100 d-flex flex-column">
        <h2>Credibility</h2>
        <p class="muted">Accuracy and reliability of this news</p>
        <div class="mt-auto">
          <h2><strong><%= result.fact_score %></strong></h2>
          <div class="progress custom-progress">
            <% fact_score_value = 0 %>
            <% case result.fact_score.downcase %>
            <% when "very low" %>
              <% fact_score_value = 10 %>
            <% when "low" %>
              <% fact_score_value = 30 %>
            <% when "medium" %>
              <% fact_score_value = 50 %>
            <% when "high" %>
              <% fact_score_value = 70 %>
            <% when "very high" %>
              <% fact_score_value = 90 %>
            <% end %>
            <div class="progress-bar bg-info" role="progressbar" style="width: 0%" aria-valuenow="<%= fact_score_value %>" aria-valuemin="0" aria-valuemax="100" data-controller="fact-score-bar"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Summary  -->

  <p class="summary"><%= result.summary %></p>

  <!-- Other sources  -->

  <div class="other-sources">
    <div class="d-flex">
      <%= image_tag("lightbulb.svg", width: "16px") %>
      <p class="ms-1"><strong>Read from other sources</strong></p>
    </div>
    <ul>
      <% result.medias.each do |media| %>
        <li>
          <p class="muted"><%= media.political_bias.capitalize %>: <a href="<%= media.url %>" target="_blank"><%= media.url %></a></p>
        </li>
      <% end %>
    </ul>
  </div>

  <% unless controller_name == 'results' && action_name == 'show' %>
    <div class="alert alert-success alert-dismissible fade show m-1" role="alert" data-controller="flash" data-flash-target="message">
      Success! You now have <%= result.user.checker_score %> checker points!
      <i class="fa-solid fa-thumbs-up fa-bounce fa-lg"></i>
    </div>
  <% end %>
</div>
