<%= render "/shared/top_bar", image: "telescope.svg", pageTitle: "Fact check" %>
<div data-controller="result" data-assets-path="<%= asset_path('user.svg') %>" class="search d-flex flex-column justify-content-between container result-container my-4">
  <%= turbo_stream_from dom_id(current_user) %>
  <div data-result-target = "fullResult" id="<%= dom_id(current_user) %>" class="d-none layout">
    <!-- This section will show the loading spinner and be replaced by the final result -->
  </div>

  <div class="fact-check-container">
    <!-- Header -->
    <div class="fact-check-header">What would you like to fact-check today?</div>

    <%= simple_form_for(@result, data: { result_target: "form", action: "submit->result#compute" }) do |f| %>

      <!-- Hidden Label for Accessibility -->
      <label for="fact-check-input" class="visually-hidden">What would you like to fact-check today?</label>

      <!-- Fact Check Editor Container -->
      <div class="fact-check-editor" data-controller="search-input" data-action="input->search-input#count input->search-input#adjustHeight">
        <%= f.input :user_input, label: false,
            as: :text,
            input_html: {
              class: "form-control input-with-button editor-placeholder",
              placeholder: "Paste your news article here",
              id: "fact-check-input",
              rows: 4,
              data: {
                search_input_target: "input"
              }
            }
          %>

        <!-- Footer with Images & Submit Button -->
        <div class="editor-footer">
          <a id="speech_button" type="button" data-action="click->search-input#startSpeech" data-search-input-target="speechButton">
            <%= image_tag("speech_button.svg", width: "40px") %>
          </a>
          <!-- Custom Button for Submission -->
          <button type="submit" class="editor-button" data-result-target="button">
            <%= image_tag("search_check.svg", alt: "Submit icon") %>
          </button>
        </div>
      </div>

      <!-- Character Counter -->
      <p class="muted char-counter ms-1">
        <span id="char-count">0</span> / 5000 characters
        <i id="char-count-icn" class="fa-solid fa-check d-none"></i>
      </p>

    <% end %>
  </div>
</div>
