<!DOCTYPE html>
<html>
  <head>
    <title>Verifai</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

<body class="<%= user_signed_in? && !(controller_name == 'registrations' && action_name == 'edit') ? 'with-navbar' : 'without-navbar' %>">
  <div class="d-flex">
    <!-- Show navbar if user is signed in and NOT on the edit profile page, or if the user is not signed in but is NOT on homepage, login, or registration pages -->
    <% if (user_signed_in? && !(controller_name == 'registrations' && action_name == 'edit')) || (!user_signed_in? && !(controller_name == 'pages' && action_name == 'home') && !(controller_name == 'sessions') && !(controller_name == 'registrations')) %>
      <%= render "shared/navbar" %> <!-- Navbar component -->
    <% end %>

    <!-- Main Content -->
    <div class="main-content flex-grow-1">
      <%= render "shared/flashes" %>
      <%= yield %> <!-- Content of the current page -->
    </div>
  </div>
</body>

</html>
